.input {
    background-color: #bbbbbb;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5px;
    width: 288px;
    text-align: right;
    margin-bottom: 20px;
    color:black; 
}